@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #121212;
    color: #ffffff;
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::selection {
  background-color: rgba(255, 255, 255, 0.3);
}
